@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;400;500;600;700&display=swap');

/* for '*' and 'body' */
body
{
    background-color:  rgb(26, 22, 22);
}


.wrapper   
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
    background-color:  rgb(26, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counters 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: rgb(26, 22, 22);
}


#time 
{
    display: flex;
    gap: 30px;
}


#time .circle
{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#time .circle svg 
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}


#time .circle svg circle 
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: rgb(69, 61, 61);
    stroke-linecap: round;
    transform: translate(5px,5px);
}


#time .circle svg circle:nth-child(2) 
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}


#time div 
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 1.5em;
}


#time div span 
{
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


#time .dots
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
} 


#time .dots::before 
{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}


.newYear
{
    font-size: 3em;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 0.6em;
    background-color:  rgb(26, 22, 22);
    /* display: none; */
}


.newYear span 
{
    font-size: 1.3em;
    font-weight: 300;
}